# üìù **Ejercicios SQL - Ayudant√≠a 6**

Este notebook contiene √∫nicamente los **ejercicios pr√°cticos** de SQL de la ayudant√≠a 6.

> **Recuerda que colab guarda variables y datos**
> Si algo no funciona como esperas, es buena idea reiniciar.

## REINICIAR Y LIMPIAR TODO

Para evitar errores por variables previas, ve a:

**Entorno de ejecuci√≥n -> Desconectarse y eliminar entorno de ejecuci√≥n**

## ‚öôÔ∏è SETUP: Instalaci√≥n y configuraci√≥n de PostgreSQL en Google Colab

In [1]:
!apt install -y postgresql postgresql-contrib
!service postgresql start

# üîÅ Elimina y recrea el usuario root (por si ya existe)
!sudo -u postgres psql -c "DROP ROLE IF EXISTS root"
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD 'clave123'"

# üîÅ Elimina y recrea el schema public
!sudo -u postgres psql -d postgres -c "DROP SCHEMA public CASCADE; CREATE SCHEMA public;"

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common
  postgresql-contrib ssl-cert sysstat
0 upgraded, 14 newly installed, 0 to remove and 30 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 52.0 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.17-0ubuntu0.22.04.1 [1,246 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.17-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 3s (5,639 kB/s)
Preconfiguring packages ...
Selecting previously unselected package logrotate.
(Reading database ... 126213 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.17-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.17-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.17-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.17-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer ‚Üí /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer ‚Üí /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer ‚Üí /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service ‚Üí /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.17-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service ‚Üí /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.17-0ubuntu0.22.04.1) ...
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
NOTICE:  role "root" does not exist, skipping
DROP ROLE
CREATE ROLE
CREATE SCHEMA

Y luego se inicializa la extensi√≥n sql para poder usar SQL desde el notebook.

In [2]:
%load_ext sql
%sql postgresql://root:clave123@localhost/postgres
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Si todo esta bien, las siguientes celdas deberian funcionar:

In [3]:
# Todas las celdas en las que se ejecute sql deben tener %%sql
%%sql
CREATE TABLE prueba (
    id serial PRIMARY KEY,
    nombre varchar(50)
);

 * postgresql://root:***@localhost/postgres
Done.

[]

In [4]:
%%sql
INSERT INTO prueba (nombre) VALUES ('Nombre 1');
INSERT INTO prueba (nombre) VALUES ('Nombre 2');
INSERT INTO prueba (nombre) VALUES ('Nombre 3');

 * postgresql://root:***@localhost/postgres
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
SELECT * FROM prueba;

 * postgresql://root:***@localhost/postgres
3 rows affected.

[(1, 'Nombre 1'), (2, 'Nombre 2'), (3, 'Nombre 3')]

# EJERCICIOS

## üß† Ejercicio 1: E-commerce y capacidad de despacho

En una empresa de e-commerce tienen el siguiente esquema para la capacidad de despacho de los productos que venden:

- **zona_despacho**: (`id_zona: serial`, `nombre_zona: string`, `comuna: string`, `region: string`)
- **slot**: (`id_slot: serial`, `dia: string`, `hora_inicio: time`, `hora_fin: time`)
- **asig_capac**: (`id_capac: serial`, `id_zona: int`, `id_slot: int`, `capac_sm: int`, `capac_med: int`, `capac_big: int`, `precio_sm: int`, `precio_med: int`, `precio_big: int`)

**Descripci√≥n:**
- `zona_despacho`: corresponde a un √°rea dentro de una comuna y regi√≥n.
- `slot`: corresponde al rango de tiempo para despachar en un d√≠a espec√≠fico (ej: mi√©rcoles de 3 a 6).
- `asig_capac`: corresponde a la capacidad de entregar productos de tama√±o peque√±o, mediano y grande (capac_sm, capac_med, capac_big) junto a sus precios respectivos.

### a) Cree las tablas asociadas al esquema del enunciado. Especifique las llaves primarias, for√°neas y los tipos de datos.

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS zona_despacho (
    id_zona serial PRIMARY KEY,
    nombre_zona varchar(50),
    comuna varchar(50),
    region varchar(50)
);

CREATE TABLE IF NOT EXISTS slot (
    id_slot serial PRIMARY KEY,
    dia varchar(50),
    hora_inicio time,
    hora_fin time
);

CREATE TABLE IF NOT EXISTS asig_capac (
    id_capac serial PRIMARY KEY,
    id_zona int,
    id_slot int,
    capac_sm int,
    capac_med int,
    capac_big int,
    precio_sm int,
    precio_med int,
    precio_big int,
    FOREIGN KEY (id_zona) REFERENCES zona_despacho(id_zona),
    FOREIGN KEY (id_slot) REFERENCES slot(id_slot)
);

 * postgresql://root:***@localhost/postgres
Done.
Done.
Done.

[]

‚ö†  Al ejecutar una celda de creaci√≥n de tabla, esta queda guardada y no es necesario ejecutarlo de nuevo. Si se intenta crear de nuevo una tabla con nombre ya existente habr√° un error.

### Poblar Tablas
Es necesario para poder realizar el apartado b), c) y d)

In [10]:
%%sql
INSERT INTO zona_despacho (nombre_zona, comuna, region) VALUES
('Zona Norte 1', 'Antofagasta', 'Norte'),
('Zona Norte 2', 'Iquique', 'Norte'),
('Zona Centro 1', 'Santiago', 'Metropolitana'),
('Zona Centro 2', 'Providencia', 'Metropolitana'),
('Zona Centro 3', 'Maip√∫', 'Metropolitana'),
('Zona Centro 4', '√ëu√±oa', 'Metropolitana'),
('Zona Centro 5', 'Puente Alto', 'Metropolitana'),
('Zona Centro 6', 'Las Condes', 'Metropolitana'),
('Zona Centro 7', 'La Reina', 'Metropolitana'),
('Zona Centro 8', 'Lo Barnechea', 'Metropolitana'),
('Zona Centro 9', 'San Bernardo', 'Metropolitana'),
('Zona Centro 10', 'Pudahuel', 'Metropolitana'),
('Zona Sur 1', 'Temuco', 'Sur'),
('Zona Sur 2', 'Valdivia', 'Sur'),
('Zona Sur 3', 'Puerto Montt', 'Sur'),
('Zona Sur 4', 'Osorno', 'Sur'),
('Zona Sur 5', 'Chill√°n', 'Sur'),
('Zona Austral 1', 'Punta Arenas', 'Austral'),
('Zona Austral 2', 'Coyhaique', 'Austral'),
('Zona Austral 3', 'Puerto Natales', 'Austral');

 * postgresql://root:***@localhost/postgres
20 rows affected.

[]

In [11]:
%%sql
INSERT INTO slot (dia, hora_inicio, hora_fin) VALUES
('Lunes', '08:00', '10:00'),
('Lunes', '10:00', '12:00'),
('Lunes', '14:00', '16:00'),
('Martes', '08:00', '10:00'),
('Martes', '10:00', '12:00'),
('Martes', '14:00', '16:00'),
('Mi√©rcoles', '08:00', '10:00'),
('Mi√©rcoles', '10:00', '12:00'),
('Mi√©rcoles', '14:00', '16:00'),
('Jueves', '08:00', '10:00'),
('Jueves', '10:00', '12:00'),
('Jueves', '14:00', '16:00'),
('Viernes', '08:00', '10:00'),
('Viernes', '10:00', '12:00'),
('Viernes', '14:00', '16:00'),
('S√°bado', '10:00', '12:00'),
('S√°bado', '12:00', '14:00'),
('Domingo', '10:00', '12:00'),
('Domingo', '12:00', '14:00'),
('Domingo', '14:00', '16:00');

 * postgresql://root:***@localhost/postgres
20 rows affected.

[]

In [12]:
%%sql
INSERT INTO asig_capac (id_zona, id_slot, capac_sm, capac_med, capac_big, precio_sm, precio_med, precio_big) VALUES
(3, 1, 10, 5, 6, 1000, 2000, 3000),
(4, 2, 8, 4, 7, 1200, 2100, 3100),
(5, 3, 12, 6, 4, 1100, 2200, 3300),
(6, 4, 9, 7, 9, 1300, 2300, 3400),
(7, 5, 11, 6, 3, 1400, 2400, 3500),
(8, 6, 6, 3, 8, 1500, 2500, 3600),
(9, 7, 10, 8, 5, 1600, 2600, 3700),
(10, 8, 7, 5, 6, 1700, 2700, 3800),
(11, 9, 13, 9, 2, 1800, 2800, 3900),
(12, 10, 5, 2, 7, 1900, 2900, 4000),
(13, 11, 8, 4, 10, 2000, 3000, 4100),
(14, 12, 6, 2, 6, 2100, 3100, 4200),
(15, 13, 7, 3, 5, 2200, 3200, 4300),
(16, 14, 9, 6, 11, 2300, 3300, 4400),
(17, 15, 5, 1, 4, 2400, 3400, 4500),
(18, 16, 10, 5, 9, 2500, 3500, 4600),
(19, 17, 6, 2, 3, 2600, 3600, 4700),
(20, 18, 12, 8, 7, 2700, 3700, 4800),
(1, 19, 11, 5, 5, 2800, 3800, 4900),
(2, 20, 13, 9, 6, 2900, 3900, 5000);

 * postgresql://root:***@localhost/postgres
20 rows affected.

[]


### b) Escriba una instrucci√≥n SQL que inserte un nuevo registro en la tabla `asig_capac`, asociando la zona con id **2** y el slot con id **5**. Suponga que la capacidad para productos es **10 peque√±os**, **5 medianos**, y **2 grandes**, y que los precios son **2000**, **3500** y **6000** respectivamente.

In [14]:
%%sql
INSERT INTO asig_capac (id_zona, id_slot, capac_sm, capac_med, capac_big, precio_sm, precio_med, precio_big)
VALUES (2, 5, 10, 5, 2, 2000, 3500, 6000);

 * postgresql://root:***@localhost/postgres
1 rows affected.

[]

### c) Escriba una consulta SQL que entregue los nombres de todas las zonas de despacho que est√°n en la regi√≥n **"Metropolitana"**.

In [16]:
%%sql
--- Desarrollo ---
SELECT nombre_zona
FROM zona_despacho
WHERE region = 'Metropolitana';

 * postgresql://root:***@localhost/postgres
10 rows affected.

[('Zona Centro 1',),
 ('Zona Centro 2',),
 ('Zona Centro 3',),
 ('Zona Centro 4',),
 ('Zona Centro 5',),
 ('Zona Centro 6',),
 ('Zona Centro 7',),
 ('Zona Centro 8',),
 ('Zona Centro 9',),
 ('Zona Centro 10',)]


### d) Escriba una consulta SQL que entregue, por cada zona de despacho, los rangos horarios (`hora_inicio` y `hora_fin`) de los slots que tienen una **capacidad mayor a 5 productos grandes** (`capac_big > 5`), junto al **nombre de la zona** y el **d√≠a del slot**.

In [19]:
%%sql
--- Desarrollo ---
SELECT zd.nombre_zona, s.dia, s.hora_inicio, s.hora_fin
FROM zona_despacho zd
JOIN asig_capac ac ON zd.id_zona = ac.id_zona
JOIN slot s ON ac.id_slot = s.id_slot
WHERE ac.capac_big > 5;

 * postgresql://root:***@localhost/postgres
12 rows affected.

[('Zona Centro 1', 'Lunes', datetime.time(8, 0), datetime.time(10, 0)),
 ('Zona Centro 2', 'Lunes', datetime.time(10, 0), datetime.time(12, 0)),
 ('Zona Centro 4', 'Martes', datetime.time(8, 0), datetime.time(10, 0)),
 ('Zona Centro 6', 'Martes', datetime.time(14, 0), datetime.time(16, 0)),
 ('Zona Centro 8', 'Mi√©rcoles', datetime.time(10, 0), datetime.time(12, 0)),
 ('Zona Centro 10', 'Jueves', datetime.time(8, 0), datetime.time(10, 0)),
 ('Zona Sur 1', 'Jueves', datetime.time(10, 0), datetime.time(12, 0)),
 ('Zona Sur 2', 'Jueves', datetime.time(14, 0), datetime.time(16, 0)),
 ('Zona Sur 4', 'Viernes', datetime.time(10, 0), datetime.time(12, 0)),
 ('Zona Austral 1', 'S√°bado', datetime.time(10, 0), datetime.time(12, 0)),
 ('Zona Austral 3', 'Domingo', datetime.time(10, 0), datetime.time(12, 0)),
 ('Zona Norte 2', 'Domingo', datetime.time(14, 0), datetime.time(16, 0))]