# üìù **Ejercicios SQL - Ayudant√≠a 6**

Este notebook contiene √∫nicamente los **ejercicios pr√°cticos** de SQL de la ayudant√≠a 6.

> **Recuerda que colab guarda variables y datos**
> Si algo no funciona como esperas, es buena idea reiniciar.

## REINICIAR Y LIMPIAR TODO

Para evitar errores por variables previas, ve a:

**Entorno de ejecuci√≥n -> Desconectarse y eliminar entorno de ejecuci√≥n**

## ‚öôÔ∏è SETUP: Instalaci√≥n y configuraci√≥n de PostgreSQL en Google Colab

In [ ]:
!apt install -y postgresql postgresql-contrib
!service postgresql start

# üîÅ Elimina y recrea el usuario root (por si ya existe)
!sudo -u postgres psql -c "DROP ROLE IF EXISTS root"
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD 'clave123'"

# üîÅ Elimina y recrea el schema public
!sudo -u postgres psql -d postgres -c "DROP SCHEMA public CASCADE; CREATE SCHEMA public;"

Y luego se inicializa la extensi√≥n sql para poder usar SQL desde el notebook.

In [ ]:
%load_ext sql
%sql postgresql://root:clave123@localhost/postgres
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Si todo esta bien, las siguientes celdas deberian funcionar:

In [ ]:
# Todas las celdas en las que se ejecute sql deben tener %%sql
%%sql
CREATE TABLE prueba (
    id serial PRIMARY KEY,
    nombre varchar(50)
);

In [ ]:
%%sql
INSERT INTO prueba (nombre) VALUES ('Nombre 1');
INSERT INTO prueba (nombre) VALUES ('Nombre 2');
INSERT INTO prueba (nombre) VALUES ('Nombre 3');

In [ ]:
%%sql
SELECT * FROM prueba;

# EJERCICIOS

## üß† Ejercicio 1: E-commerce y capacidad de despacho

En una empresa de e-commerce tienen el siguiente esquema para la capacidad de despacho de los productos que venden:

- **zona_despacho**: (`id_zona: serial`, `nombre_zona: string`, `comuna: string`, `region: string`)
- **slot**: (`id_slot: serial`, `dia: string`, `hora_inicio: time`, `hora_fin: time`)
- **asig_capac**: (`id_capac: serial`, `id_zona: int`, `id_slot: int`, `capac_sm: int`, `capac_med: int`, `capac_big: int`, `precio_sm: int`, `precio_med: int`, `precio_big: int`)

**Descripci√≥n:**
- `zona_despacho`: corresponde a un √°rea dentro de una comuna y regi√≥n.
- `slot`: corresponde al rango de tiempo para despachar en un d√≠a espec√≠fico (ej: mi√©rcoles de 3 a 6).
- `asig_capac`: corresponde a la capacidad de entregar productos de tama√±o peque√±o, mediano y grande (capac_sm, capac_med, capac_big) junto a sus precios respectivos.

### a) Cree las tablas asociadas al esquema del enunciado. Especifique las llaves primarias, for√°neas y los tipos de datos.

In [ ]:
%%sql
--- Desarrollo ---

‚ö†  Al ejecutar una celda de creaci√≥n de tabla, esta queda guardada y no es necesario ejecutarlo de nuevo. Si se intenta crear de nuevo una tabla con nombre ya existente habr√° un error.

### Poblar Tablas
Es necesario para poder realizar el apartado b), c) y d)

In [ ]:
%%sql
INSERT INTO zona_despacho (nombre_zona, comuna, region) VALUES
('Zona Norte 1', 'Antofagasta', 'Norte'),
('Zona Norte 2', 'Iquique', 'Norte'),
('Zona Centro 1', 'Santiago', 'Metropolitana'),
('Zona Centro 2', 'Providencia', 'Metropolitana'),
('Zona Centro 3', 'Maip√∫', 'Metropolitana'),
('Zona Centro 4', '√ëu√±oa', 'Metropolitana'),
('Zona Centro 5', 'Puente Alto', 'Metropolitana'),
('Zona Centro 6', 'Las Condes', 'Metropolitana'),
('Zona Centro 7', 'La Reina', 'Metropolitana'),
('Zona Centro 8', 'Lo Barnechea', 'Metropolitana'),
('Zona Centro 9', 'San Bernardo', 'Metropolitana'),
('Zona Centro 10', 'Pudahuel', 'Metropolitana'),
('Zona Sur 1', 'Temuco', 'Sur'),
('Zona Sur 2', 'Valdivia', 'Sur'),
('Zona Sur 3', 'Puerto Montt', 'Sur'),
('Zona Sur 4', 'Osorno', 'Sur'),
('Zona Sur 5', 'Chill√°n', 'Sur'),
('Zona Austral 1', 'Punta Arenas', 'Austral'),
('Zona Austral 2', 'Coyhaique', 'Austral'),
('Zona Austral 3', 'Puerto Natales', 'Austral');

 * postgresql://root:***@localhost/postgres
20 rows affected.

[]

In [ ]:
%%sql
INSERT INTO slot (dia, hora_inicio, hora_fin) VALUES
('Lunes', '08:00', '10:00'),
('Lunes', '10:00', '12:00'),
('Lunes', '14:00', '16:00'),
('Martes', '08:00', '10:00'),
('Martes', '10:00', '12:00'),
('Martes', '14:00', '16:00'),
('Mi√©rcoles', '08:00', '10:00'),
('Mi√©rcoles', '10:00', '12:00'),
('Mi√©rcoles', '14:00', '16:00'),
('Jueves', '08:00', '10:00'),
('Jueves', '10:00', '12:00'),
('Jueves', '14:00', '16:00'),
('Viernes', '08:00', '10:00'),
('Viernes', '10:00', '12:00'),
('Viernes', '14:00', '16:00'),
('S√°bado', '10:00', '12:00'),
('S√°bado', '12:00', '14:00'),
('Domingo', '10:00', '12:00'),
('Domingo', '12:00', '14:00'),
('Domingo', '14:00', '16:00');

 * postgresql://root:***@localhost/postgres
20 rows affected.

[]

In [ ]:
%%sql
INSERT INTO asig_capac (id_zona, id_slot, capac_sm, capac_med, capac_big, precio_sm, precio_med, precio_big) VALUES
(3, 1, 10, 5, 6, 1000, 2000, 3000),
(4, 2, 8, 4, 7, 1200, 2100, 3100),
(5, 3, 12, 6, 4, 1100, 2200, 3300),
(6, 4, 9, 7, 9, 1300, 2300, 3400),
(7, 5, 11, 6, 3, 1400, 2400, 3500),
(8, 6, 6, 3, 8, 1500, 2500, 3600),
(9, 7, 10, 8, 5, 1600, 2600, 3700),
(10, 8, 7, 5, 6, 1700, 2700, 3800),
(11, 9, 13, 9, 2, 1800, 2800, 3900),
(12, 10, 5, 2, 7, 1900, 2900, 4000),
(13, 11, 8, 4, 10, 2000, 3000, 4100),
(14, 12, 6, 2, 6, 2100, 3100, 4200),
(15, 13, 7, 3, 5, 2200, 3200, 4300),
(16, 14, 9, 6, 11, 2300, 3300, 4400),
(17, 15, 5, 1, 4, 2400, 3400, 4500),
(18, 16, 10, 5, 9, 2500, 3500, 4600),
(19, 17, 6, 2, 3, 2600, 3600, 4700),
(20, 18, 12, 8, 7, 2700, 3700, 4800),
(1, 19, 11, 5, 5, 2800, 3800, 4900),
(2, 20, 13, 9, 6, 2900, 3900, 5000);

 * postgresql://root:***@localhost/postgres
20 rows affected.

[]


### b) Escriba una instrucci√≥n SQL que inserte un nuevo registro en la tabla `asig_capac`, asociando la zona con id **2** y el slot con id **5**. Suponga que la capacidad para productos es **10 peque√±os**, **5 medianos**, y **2 grandes**, y que los precios son **2000**, **3500** y **6000** respectivamente.

In [ ]:
%%sql
--- Desarrollo ---

### c) Escriba una consulta SQL que entregue los nombres de todas las zonas de despacho que est√°n en la regi√≥n **"Metropolitana"**.

In [ ]:
%%sql
--- Desarrollo ---


### d) Escriba una consulta SQL que entregue, por cada zona de despacho, los rangos horarios (`hora_inicio` y `hora_fin`) de los slots que tienen una **capacidad mayor a 5 productos grandes** (`capac_big > 5`), junto al **nombre de la zona** y el **d√≠a del slot**.

In [ ]:
%%sql
--- Desarrollo ---